  .nav-texto{
        font-size: 14px;
        height: 50px;
        display: flex;
        top: 10px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
h2{
font-family:mediocurveada;
font-size:36px;
}
    
    .header-derecho{
        position: relative;
        top: 30px;
    }
    .linea{
        height: 2px;
        width: 100%;
        background-color: black;
    }
    
    .imagen-header{
        height: 120px;
        
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        width: 100%;
    }
    
    .imagen-invest{
        width: 110%;
        
        height: 110%;
    }
    .container-nav{
        width: 100%;
    }
    .inputbuscar{
        position: relative;
        top:60px;
        background-color: rgba(158,158,158 ,1);
        height: 40px;
        width: 100%;
    }
    .iconobuscar{
        position: relative;
        width: 100%;
        height: 50px;
        font-size: 25px;
        text-align: center;
        top:60px;
        color: rgba(178,178,178,1);
        
    }
.iconobuscar-text
    {
        
        position: relative;
        text-align: center;
        top: 30px;
    }
    
    
    
       .iconousuario{
        position: relative;
        width: 40px;
        height: 40px;
        
        text-align: center;
        top:52px;
    }
.iconousuario-text
    {
        
        position: relative;
        text-align: center;
        top: 50px;
        left: -4px;
    }
    
    
    .container-footer
    {
        width: 100%;
    }
    
    .footer{
     background-color: rgba(0,45,64,1);
        
        height: 70px;
        
    }
    
    .casosdeexito,.suscripcionaboletines,.preguntasfrecuentes{
        position: relative;
        color: white;
        text-align: center;
        font-size: 20px;
        top:7px;
    }
    
    a{
        color: black;
       
        
    }
    a:hover{
         text-decoration: none;
        transition: .5s;
       color:rgba(0,45,64,1);
        transform: scale(1.2);
        
    }
    .icono-footer{
        position: relative;
        left: -20px;
        font-size: 40px;
        top: 10px;
        color: rgba(57,180,54,1);
    }
    .icono-footer>img{
        position: relative;
        height: 50px;
        width: 50px;
        top: -12px;
        
    }
    .espacio{
        height: 500px;
    } 
    
    
    
    .container-footer2{
        width: 100%;
        height: 180px;
    }
    
    
.icon-youtube
    {
        transform: rotate(180deg);
        color:rgba(0,45,64,1);
    }
    
      .icono-footer2{
        position: relative;
        left: -20px;
        font-size: 40px;
        top: 10px;
        color:rgba(0,45,64,1);
          
    }
    
    .icono-footer2>img{
        width: 40px;
        height: 40px;
    }
    .footer2-centro-direccion >div{
        text-align: center;
        font-size: 18px;
    } 
    .footer2-logo-googlemaps{
        position: relative;
        text-align: center;
       width: 100%;
    }
      .footer2-logo-googlemaps-img{
        position: relative;
        
        width: 70px;
        height: 70px;
    }
    
    .linea-vertical{
        position: absolute;
        top: 20px;
        width: 2px;
        height: 120px;
        left: -8px;
        background-color: rgba(178,178,178,1);
    }

   
    .linea-vertical-der{
        position: absolute;
        top: -30px;
        width: 2px;
        height: 120px;
        left: -8px;
        background-color: rgba(178,178,178,1);
    }
    
    .footer2-izquierdo{
        position: relative;
        top: 50px;
    }
      .footer2-derecho{
        position: relative;
        top: 50px;
    }